<div class="newsletterSub-wrapper">

   <div class="newsletterSub-container">
      <label for="newsletterSub">Inscris-toi à notre newsletter</label>
      <input type="text" name="newsletterSub" placeholder="ton adresse mail">
      <input type="submit" name="" value="ok">
   </div>

</div>
