.baselineBand {
   background: $blue;
   padding: 50px 5vw;
   max-width: 100vw;
   margin-bottom: 100px;

   &-txt {
      font-weight: 700;
      line-height: 1.3;
      font-size: 1.5em;
      max-width: calc(100vw - 50px);
      word-wrap: break-word;
      color: $white;
   }

   @include breakpoint(laptop) {
      padding: 100px 10vw;
      margin-bottom: 200px;
      &-txt {
         font-size: 2.25em;
      }
   }
}
