.sectEvent-container, .sectArtist-container {
   display: flex;
   flex-wrap: wrap;
   padding: 0 5vw;

   &_txt, &_img {
      width: 100%;
   }
   &_img {
      display: none;
      img {
         filter: grayscale(100%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &_txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
         color: $black;
         font-weight: 600;
         font-size: 2em;
         line-height: 1.1;
      }
      .desc {
         font-size: 1em;
         color: $black;
         line-height: 1.5;
         margin-top: 30px;
         max-width: 450px;
      }
      .blueBtn {
         margin-top: 20px;
      }
   }


   @include breakpoint(tablet) {
      height: 500px;
      padding: 0 10vw;

      &_txt, &_img {
         width: 50%;
      }
      &_img {
         display: block;
         height: 100%;
      }
   }


   @include breakpoint(laptop) {
      .title {
         font-size: 2.25em;
      }
   }

}


.sectEvent-container {
   margin-bottom: 40px;

   &_txt {
      padding: 20px 20px 20px 0;
      @include breakpoint(tablet) {
         padding: 40px 40px 40px 0;
      }
   }
   @include breakpoint(tablet) {
      margin-bottom: 140px;
      &_txt {
         padding: 40px 40px 40px 0;
      }
   }

}
