.sectThisWeek {
   position: relative;
   margin-bottom: 100px;
   .sectThisWeek-container_img {
      width: 100%;
      height: 200px;
      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         border-radius: 2px;
      }
   }

   .sectThisWeek-container_txt {
      margin: 0px 5vw 0px;
      padding: 30px 0 5px;
      .smallTitle {
         text-transform: uppercase;
         color: $blue;
         font-weight: 500;
         font-size: .9em;
         margin-bottom: 5px;
      }
      .name {
         color: $black;
         font-weight: 700;
         font-size: 2.25em;
         margin-bottom: 15px;
      }
      .date {
         color: $black;
         font-size: 1em;
         margin-bottom: 42px;
         font-weight: 600;
      }
   }

   @include breakpoint(laptop) {
      margin-bottom: 200px;

      .sectThisWeek-container_img{
         height: calc(100vh - 140px);
         width: 80vw;
         margin: auto;
      }

      .sectThisWeek-container_txt {
         padding: 40px 40px 0 0;
         max-width: 40vw;
         width: auto;
         position: absolute;
         z-index: 2;
         background: $white;
         bottom: -20px;
         margin-left: 10vw;
      }

   }
}
