.sectArtist-container {
   margin-bottom: 100px;
   flex-direction: column-reverse;
   justify-content: center;
   @include breakpoint(tablet) {
      flex-direction: column;
      margin-bottom: 200px;
   }
   &_txt {
      padding: 20px 20px 20px 0;
      @include breakpoint(tablet) {
         padding: 40px;
      }
   }

}
