.pageWrapper-about {
   margin: 70px 5vw;
   height: auto;
   .pageTitle {
      font-size: 2em;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 40px;
   }

   article {
      max-width: 550px;
      margin-bottom: 20px;
      p {
         line-height: 1.5;
         color: $black;
      }
   }

   .about-containerImg {
      &_card {
         width: 90vw;
         height: 90vw;
         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }
      }
   }

   @include breakpoint(tablet) {
      margin: 200px 10vw;
      .pageTitle {
         font-size: 3em;
         margin-bottom: 80px;
      }
      article {
         margin-bottom: 40px;
      }
      .about-containerImg {
         display: flex;
         flex-wrap: wrap;
         &_card {
            width: 40vw;
            height: 40vw;
            img {

            }
         }
      }

   }

}
