.pageWrapper-aboutUs {

   .aboutUs-container {
      display: flex;
      flex-direction: column;

      &_infos {
         margin: 20px 5vw;
         .name {
            line-height: 1.2;
            font-size: 2.25em;
         }
         .role {
            font-size: 1.5em;
            color: $blue;
            font-weight: 500;
            margin-bottom: 20px;
         }
         p {
            line-height: 1.5;
            color: $black;
            font-size: .85em;
         }
      }

      &_img {
         order: -1;
         width: 100%;
         height: 250px;
         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }
      }

      &_social {
         padding: 40px 80px 40px 0;
         margin: 0px 5vw;
         display: flex;
         justify-content: space-around;
         transition: .25s ease-out;
         img {
            width: 17px;
            transition: .25s ease-out;
         }
      }

   }
   .borderBlack {
      margin: 20px 5vw;
   }

   @include breakpoint(laptop) {
      margin: 100px 10vw 40px;

      .aboutUs-container {
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         &_infos {
            margin: 0;
            padding: 80px 80px 20px 0;
            width: 40vw;
            .role {
               margin-bottom: 40px;
            }
            p {
               max-width: 650px;
            }
         }
         &_img {
            order: 1;
            width: 40vw;
            height: 40vw;
            img {
               height: 100%;
               width: 100%;
               object-fit: cover;
            }
         }

         &_social {
            width: 40vw;
            max-width: 650px;
            padding: 40px 100px 40px 0px;
            order: 3;
            margin: 0;
            display: flex;
            justify-content: space-around;
            img {
               height: 15px;
               width: auto;
            }
         }
      }

      .borderBlack {
         margin: 20px 0vw;
      }

   }

}
