<% content_for :meta_title, "Liste des artistes" %>
<% content_for :meta_description, "Retrouvez la liste des meilleurs artistes sur la scène Bordelaise, sélectionnées par l'équipe de Sounds In Bordeaux !" %>

<div class="wrapper-indexArtists">

   <div class="container-txt">
      <h1 class="pageTitle">les artistes</h1>

      <p class="pageDesc">Découvre ici les artistes et DJs phares de la scène Bordelaise. Principalement orienté electro, cette liste non-exhaustive référence les artistes Bordelais que tu pourrais aimer. Pour chaque artistes, on a mit à ta disposition un de ses sons pour te donner un avant goût.</p>
   </div>

   <!-- Artists -->
   <div class="container-artists" id="container-artists">
      <!-- Artists' mosaic -->
      <% @artists.each do |artist| %>

         <%= link_to artist_url(artist.slug), :class => 'linkEvent' do %>
            <div class="artists-cards">
               <div class="artists-cards_img">
                  <%= image_tag artist.image %>
               </div>
              <div class="artists-cards_infos">
                 <h2 class="name"><%= artist.name %></h2>
                 <p class="baseline"><%= artist.baseline %></p>
              </div>
            </div>
         <% end %>
      <% end %>

   </div>

</div>
