<% content_for :meta_title, "L'équipe de Sounds In Bordeaux" %>
<% content_for :meta_description, "Vous voulez en savoir plus ? Retrouvez les membres de l'équipes de Sounds In Bordeaux !" %>

<section class="pageWrapper-about">

   <h1 class="pageTitle">À propos</h1>

   <article>
      <p>Sounds in Bordeaux c’est un nouveau genre d’agenda. Ici tu trouveras une sélection de soirées, afterworks, concerts et festivals dans Bordeaux et ses alentours. Principalement axé électro (techno et house) on te propose aussi, grâce à la diversité des goûts dans notre team, des concerts rock et indé, des soirées funk et disco, mais aussi les meilleures soirées et festivals trance et hardtek.</p>
      <br>
      <p>En clair, on est là pour te faciliter la vie, fini tes apéros galères. Sur Sounds in Bordeaux, on te donne la listes des sorties, avec la timetable, le lien direct vers la billetterie pour choper ta prévente même au dernier moment. SIB c’est ton agenda des meilleures sorties la nuit à Bordeaux.</p>
   </article>

   <article class="about-containerImg">

      <div class="about-containerImg_card">
         <% @about_us.each do |about_u| %>
           <%= link_to about_u_url(about_u.slug) do %>
             <%= about_u.name %>
             <%= about_u.role %>
             <%= image_tag about_u.image %>
           <% end %>
         <% end %>
      </div>

   </article>


</section>
