@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

h1 {
   font-size: 2.25em;
   font-weight: 700;
   line-height: 1;
   color: $black;
}

h2 {
   font-size: 1.95em;
   font-weight: 700;
}

h3 {
   font-size: 1.75em;
}

p {
   font-size: 1em;
   font-weight: 100;
}
