.borderBlue {
   color: $blue;
   background: transparent;
   border: none;
   border-bottom: 2px solid $blue;
   font-size: 1em;
   display: inline-block;
   padding-bottom: 5px;
   font-weight: 500;
   @include breakpoint(laptop) {
      &:hover {
         cursor: pointer;
      }
   }
}

.borderBlack {
   color: $black;
   background: transparent;
   border: none;
   border-bottom: 2px solid $black;
   vertical-align: middle;
   font-size: 1em;
   display: inline-block;
   padding-bottom: 5px;
   font-weight: 500;
   transition: .25s ease-out;
   @include breakpoint(laptop) {
      &:hover {
         cursor: pointer;
         color: $blue;
         border-bottom: 2px solid $blue;
      }
   }
}
