.wrapper-showEvent {
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;

   .showEvent-container_img {
      height: 200px;
      width: 100%;
      border-radius: 2px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .showEvent-container_txt {
      padding: 40px 5vw;
      overflow-y: scroll;
      width: 100%;
      display: block;
      max-width: 600px;
      margin: auto;

      h1.name {
         color: $black;
         font-size: 2em;
      }

      .mainInfos {
         padding: 15px 0;
         font-size: 1em;
         min-width: 280px;
         width: 100%;
         max-width: 450px;
         display: flex;
         justify-content: space-between;
         line-height: 1.2;
         p, a {
            color: $blue;
            font-weight: 600;
         }
         .price {
            text-decoration: underline;
            color: $blue;
         }
      }

      .desc {
         margin: 20px 0 40px 0;
         p {
            max-width: 450px;
            font-size: .85em;
            line-height: 1.5;
         }
      }

      .socialContainer {
         &-links {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            img {
               height: 15px;
               width: auto;
               margin-bottom: 40px;
            }
         }

         &-iframe {
            width: 100%;
            margin-bottom: 20px;
            iframe {
               width: 100%;
            }
         }
      }

   }

   // Desktop styles
   @include breakpoint(laptop) {
      flex-wrap: nowrap;
      margin: 70px 10vw;
      flex-direction: row-reverse;
      align-items: flex-start;

      .showEvent-container_img {
         width: 50%;
         height: calc(100vh - 140px);
         overflow-y: hidden;
         padding: 50px 0px 0 0;
         img {
            width: 100%;
            object-fit: cover;
         }
      }

      .showEvent-container_txt {
         width: 50%;
         max-width: inherit;
         overflow-y: scroll;
         padding: 50px 80px 0 0;
         .mainInfos {
            padding: 20px 0;
         }
         .socialContainer {
            margin-top: 25px;
            padding-right: 80px;
            a:hover {
               text-decoration: underline;
            }
         }
      }

   }
}
