.landingSect {

   &-container {
      width: 100vw;
      display: flex;
      padding: 140px 0;
   }

   &-txt {
      width: calc(100vw / 3);
      padding-left: 5vw;
      @include breakpoint(laptop){
         padding-left: 10vw;
      }
      .title {
         font-size: 2em;
         color: $black;
         font-weight: 600;
         @include breakpoint(laptop){
         font-size: 3.125em;
         }
         strong {
            color: $blue;
         }
      }
   }

}
