<section class="landingSect-container">

   <div class="landingSect-txt">
      <h2 class="title">Les <strong>événements</strong> de la semaine </h2>
   </div>

   <div class="landingSect-slider" data-fluffy-container>
      
   </div>

</section>
