<div class="sectThisWeek">

   <div class="sectThisWeek-container_img reveal">
      <%= image_tag 'sectEvent.png' %>
   </div>

   <div class="sectThisWeek-container_txt reveal">
      <h3 class="smallTitle">coup de coeur</h3>
      <h2 class="name">Pitchfork Music Festival</h2>
      <p class="date">le 04.11.17 à @Paris</p>
      <p class="desc">Chaque semaine, la team de Sounds in Bordeaux séléctionne le meilleur événement à Bordeaux.</p>
      <a href="" class="blackBtn">Voir l'événement</a>
   </div>

</div>
