<section class="sectArtist-container">

   <div class="sectArtist-container_img reveal">
      <%= image_tag 'sectArtist.png' %>
   </div>

   <div class="sectArtist-container_txt reveal">
      <h3 class="title">Découvre les DJs et artistes bordelais</h3>
      <p class="desc">Si la scène éléctro bordelaise t'es encore inconnue, pas de panique. Ici tu trouveras une liste des artistes et DJs phares à Bordeaux.</p>
      <%= link_to '/artistes' do %>
         <p class="blueBtn">Voir tous les artistes bordelais</p>
      <% end %>
   </div>

</section>
