<section class="sectArtist-container">

   <div class="sectArtist-container_img">
      <%= image_tag 'sectArtist.png' %>
   </div>

   <div class="sectArtist-container_txt">
      <h3 class="title">Découvre les DJs et artistes bordelais</h3>
      <%= link_to '/artistes' do %>
         <p class="blueBtn">Voir tous les artistes</p>
      <% end %>
   </div>

</section>
