<section class="landingSect-container">

   <!-- Title -->
   <div class="landingSect-txt">
      <h2 class="title">On référence aussi les <strong>meilleurs artistes</strong> bordelais pour peaufiner tes playlists </h2>
   </div>

   <!-- Slider -->
   <div class="landingSect-slider" data-slider-home>



   </div>

</section>
