<section class="sectEvent-container">


      <div class="sectEvent-container_txt">
         <h3 class="title">Trouve toutes les meilleures sorties à Bordeaux</h3>
         <%= link_to '/evenements' do %>
            <p class="blueBtn">Voir tous les événements à Bordeaux</p>
         <% end %>
      </div>

      <div class="sectEvent-container_img">
         <%= image_tag 'sectEvent.png' %>
      </div>


</section>
