<section class="sectAboutUs-container">

   <div class="sectAboutUs-container_txt reveal">
      <h3 class="title">à propos</h3>
      <p>Si tu veux en savoir plus sur notre démarche c'est par <%= link_to "ici", '/a-propos'%>.
      <br>Tu peux aussi nous contacter, pour un partenariat ou toutes autres propositions, on sera ravi de te répondre le plus vite possible !
      </p>
      <br>
      <p>On est 8 étudiants en multimédia à l'IUT Bordeaux Montaigne.</p>
      <p>Passionnés de musique, on veut te faire connaitre la scène musicale bordelaise.</p>
      <p>On te fait gagner des places pour les meilleurs événements, soirées, concerts, festivals sur notre page <a href="https://www.facebook.com/SoundsInBordeaux/?fref=ts">Facebook</a>.</p>
      <p>On a aussi un compte <a href="https://www.instagram.com/soundsinbordeaux/">Instagram</a>.</p>

   </div>

</section>
