<section class="landingSect-container artists">

   <!-- Title -->
   <div class="landingSect-txt">
      <h2 class="title">On référence aussi les <strong>meilleurs artistes</strong> bordelais pour peaufiner tes playlists </h2>
   </div>

   <!-- Slider -->
   <div class="landingSect-slider" data-slider-artists>

      <% Artist.first(5).each do |artist| %>

         <div class="landingSect-slider_item">
            <%= link_to artist_url(artist.slug) do %>
            <div class="cards_img">
               <%= image_tag artist.image %>
            </div>

            <div class="cards_infos-small">
               <h2 class="name"><%= artist.name %></h2>
               <h3 class="baseline"><%= artist.baseline %></h3>
            </div>
            <% end %>
         </div>

      <% end %>

   </div>

</section>
