<% content_for :meta_title, "Sounds in Bordeaux - Contact" %>
<% content_for :meta_description, "Retrouvez la liste des meilleurs sorties, événements, soirées, concerts et festival à Bordeaux, sélectionnées par l'équipe de Sounds In Bordeaux !" %>

<section class="pageWrapper-contact">
   <h1 class="pageTitle">Contact</h1>

   <p class="pageDesc">Vous voulez faire parti de notre projet, nous supporter dans notre démarche ou tout simplement poser une question? Vous êtes une organisation, un club, un artiste et vous souhaitez engagez un partenariat avec nous pour référencer vos soirées, concerts? N’hésitez pas à nous contacter !</p>

   <a href="mailto:soundsinbordeaux@gmail.com" class="borderBlue">Par ici !</a>

</section>
