<% content_for :meta_title, "Contact | Sounds in Bordeaux" %>
<% content_for :meta_description, "Si tu veux en savoir plus sur notre démarche ou participer au projet, n'hésite pas à nous contacter." %>

<section class="pageWrapper-contact">
   <h1 class="pageTitle">Contact</h1>

   <p class="pageDesc">Vous voulez faire parti de notre projet, nous supporter dans notre démarche ou tout simplement poser une question? Vous êtes une organisation, un club, un artiste et vous souhaitez engagez un partenariat avec nous pour référencer vos soirées, concerts? N’hésitez pas à nous contacter !</p>

   <a href="mailto:soundsinbordeaux@gmail.com" class="borderBlue">Par ici !</a>

</section>
