<% content_for :meta_title, "Sounds in Bordeaux, sélection des meilleurs soirée électro de Bordeaux." %>
<% content_for :meta_description, "Sounds in Bordeaux, c'est ton agenda de tous les événements électro à Bordeaux !" %>

<div class="pageWrapper">

   <%= render partial: 'layouts/partials/home/landing' %>

   <section class="baselineBand">
      <h2 class="baselineBand-txt limitedWidth">Parcours la sélection de soirées, afterworks, concerts et festivals dans <strong>Bordeaux</strong> et ses alentours.</h2>
   </section>

   <%= render partial: 'layouts/partials/home/newsletter-sub' %>

</div>
