.pageWrapper-contact {
   margin: 50px 5vw;
   min-height: 90vh;

   h1.pageTitle {
      margin-top: 100px;
      text-transform: lowercase;
      font-size: 2em;
   }
   p.pageDesc {
      margin-top: 40px;
      font-size: .85em;
      font-family: 'Helvetica',sans-serif;
      line-height: 1.5;
      max-width: 500px;
   }
   .borderBlue {
      letter-spacing: 0px;
      margin-top: 20px;
   }
   @include breakpoint(laptop) {
      margin: 70px 10vw;

      h1.pageTitle {
         margin-top: 200px;
         font-size: 3em;
      }
   }


}
